@charset "UTF-8";

*{ font-family: Arial, Helvetica, sans-serif;
  

}

body {
    background-image: linear-gradient(to right, #E5B0E8, #DC5FE3, #C21EE3  );
}
main {
    background-color: white;
    width: 600px;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 6px 7px #2f2b6162 ;
}
h1 { color: #201A61;
text-align: center;
text-shadow: 1px 1px 0px #0b0922a8 ;

}
h2 { color: #544CAD;

}
p {
    text-align: justify;
}


